.topnav{
    width: 100%;
    padding: 7px;
    text-align: center;
}
.topnav, .article{
    margin-bottom: 14px;
    background-image: linear-gradient(145deg, rgb(241, 135, 1) , rgb(243, 91, 4));
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS' 'sans-serif';
    background-image: linear-gradient(145deg, rgb(61, 52, 139) , rgb(118, 120, 237));
    background-size: 100%; background-repeat: no-repeat;
   
}
.adverts{
    border-style: solid; border-color: rgb(247, 184, 1); padding: 0%;
}
.reklamebilde{
    width: 100%;
}
.infobilde{
    width: 50%; float: left;
}
.logo{
    width: 5%;
}
.article{
    width: 60%;
    margin: auto;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6, p{
    width: 80%; background-color: white; text-align: center; margin: auto; font-size: 200%;
    margin-bottom: 1%;
    border-radius: 5px;
}
h1, h2, h3, h4, h5, h6{
        border-top-style: solid;
    border-bottom-style: solid;
}
p{
    border-bottom-style: double;
    border-top-style: double;
}
.navbtn{
    padding: 14; 
}
br{
    height: 2px
}
* {
box-sizing: border-box; /*i dont understand this but it works for fixing the uncentered*/
}
